* {
  box-sizing: border-box;
}

body {
  width: 350px;
  text-align: center;
  margin: auto;
  background-color: lightgray;
  -webkit-box-shadow: 5px 7px 7px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 7px 7px 4px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.title {
  background-color: antiquewhite;
  font-size: 24px;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
}

.shopping-list {
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0%;
  height: 400px;
  overflow-y: scroll;
}
.removeBtn {
  border: 0;
  cursor: pointer;
  transition: transform 1s;
  background-color: transparent;
}
.removeBtn:hover {
  transform: scale(1.2);
}
.items {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px;
}

.divider {
  height: 1px;
  width: 90%;
  background-color: lightgray;
  margin: 0 auto;
}

footer {
  background-color: antiquewhite;
  border-radius: 0 0 20px 20px;
}

.addInput {
  height: 32px;
  width: 100%;
  border: none;
  background-color: darkgray;
  font-size: 20px;
  padding: 10px;
  outline: none;
}

.fa-plus {
  font-size: 24px;
  padding: 5px;
}
.addBtn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform 1s;
}
.addBtn:hover {
  transform: scale(1.2);
}
