body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background-image: url('./img/background.png');
  background-size: cover;
}

/* Container: 게임시작, 남은시간, 남은당근 */
.info_container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 게임 시작 버튼 */
.play_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform;
}
.play_button:hover {
  transform: scale(1.1);
}
.fa-play {
  font-size: 60px;
}
.fa-square {
  font-size: 60px;
}
/* 남은 시간 */
.count_down {
  font-size: 50px;
}

/* 남은 당근 */
.remaining_carrot {
  font-size: 40px;
  border: 2px solid;
  border-radius: 10px;
  background-color: blanchedalmond;
}

/* play-ground 게임 공간 */
.play_ground_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.play_ground {
  width: 100%;
  height: 70%;
}

/* 당근, 벌레 */
.item {
  display: none;
  left: 100px;
  top: 0px;
  position: absolute;
  transition: transform 100ms;
}
.item:hover {
  transform: scale(1.1);
}
.carrot {
}

/* 게임 결과 창 */
.result_container {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 100px;
  border: 1px solid;
  border-radius: 20px;
  background-color: aliceblue;
  top: 50%;
  left: 40%;
}

/* 게임 결과 창: 다시시작 버튼 */
.button_redo {
  background-color: transparent;
  border: none;
}
.fa-redo {
  font-size: 50px;
}
/* 게임 결과 창: 결과 메시지 */
.result_message {
  padding-top: 10px;
  font-size: 30px;
}
