body {
  background-image: url('./img/background.png');
  background-size: cover;
}

/* Container: 게임시작, 남은시간, 남은당근 */
.info_container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 게임 시작 버튼 */
.play_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform;
}
.play_button:hover {
  transform: scale(1.1);
}
.fa-play {
  font-size: 60px;
}
.fa-square {
  font-size: 60px;
}
/* 남은 시간 */
.count_down {
  font-size: 50px;
}

/* 남은 당근 */
.remaining_carrot {
  font-size: 40px;
  border: 2px solid;
  border-radius: 10px;
  background-color: blanchedalmond;
}
