body {
  background-color: black;
  overflow: hidden;
  margin: 0;
}
.target {
  position: absolute;
  left: 0;
  top: 0;
}
.line {
  position: absolute;
  background-color: white;
}
.col {
  width: 1px;
  height: 100vh;
}
.row {
  height: 1px;
  width: 100vw;
}
.coordinates {
  position: absolute;
  color: white;
  font-size: 20px;
  margin: 20px;
}
